<section class="dashboard page" style="margin: 20px 0px;">
  <div class="banner">
    <div class="firstBox">
      <img src="../../../assets/resorces/doc.png" alt="docImg" />
      <div class="content">
        <div>
          <p>Hello,{{username}}</p>
          <!--  <h5>{{ admin?.firstName }} {{ admin?.lastName }}</h5>-->
        </div>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, nam molestias. Eaque molestiae ipsam
          commodi neque. Assumenda repellendus necessitatibus itaque.
        </p>
      </div>
    </div>
    <div class="secondBox">
      <p>Total prescriptions</p>
      <h3>{{prescriptionsList!.length}}</h3>
    </div>
  </div>
  <form class="form-inline my-2 my-lg-0" *ngIf="userService.roleMatch(['ROLE_USER'])">
    <input type="search" (ngModelChange)="searchBasedOnDoctors(key.value)" #key="ngModel" ngModel name="key"
      id="searchName" class="form-control mr-sm-2" placeholder="Search Doctors..." required>
  </form>
  <div class="banner">
    <h5>Prescriptions</h5>
    <table>
      <thead>
        <tr>
          <th>Doctor</th>
          <th>Patint</th>
          <th>Medicine</th>
          <th>Dose</th>
          <th>Instruction</th>
          <th>PrescriptionNum</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prescription of prescriptionsList">
          <td *ngFor="let user of prescription.dc_p_list">{{ user.username }}</td>
          <td>{{ prescription.medicine}}</td>
          <td>{{ prescription.dose}}</td>
          <td>{{ prescription.instruction}}</td>
          <td>{{ prescription.id }}</td>
          <td>
          </td>
        </tr>
        <tr *ngIf="prescriptionsList!.length === 0">
          <td colspan="6">No Appointments Found!</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>