<div class="container form-component login-form">
  <div *ngIf="isSignedUp; else signupForm">
    Your registration is successful. Please login!
  </div>
  <ng-template #signupForm>
    <h2>Sign Up</h2>
    <p>Please Register To Continue</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat culpa
      voluptas expedita itaque ex, totam ad quod error?
    </p>
    <div class=" col-12  form-component login-form" style="max-width:700px;">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="username" id="username">Username</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
            required />
        </div>
        <div *ngIf="f.submitted && username.invalid" style="gap: 10px; justify-content :center;flex-direction:row">
          <div *ngIf="['username.errors?.required']" class="alert alert-danger">Username is required</div>
        </div>
        <div class="form-group">
          <label for="password" id="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
            required minlength="6" />
        </div>
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="['password.errors?.required']" class="alert alert-danger">Password is required</div>
          <div *ngIf="['password.errors?.minlength']" class="alert alert-danger">Password must be at least 6 characters
          </div>
        </div>
        <div class="form-group" style="justify-content: center; align-items: center">
          <button class="btn btn-primary">Register</button>
          <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
            Signup failed!<br />{{errorMessage}}
          </div>
        </div>
      </form>
    </div>
  </ng-template>
</div>