<div class="container form-component appointment-form" style="max-width: 700px;">
    <h2>Prescription</h2>
    <form (ngSubmit)="handlePrescription()">
        <label for="firsname">Patient Name:</label>
        <div>
            <input type="text" id="username" name="username" [(ngModel)]="form.username" #username="ngModel" required />
        </div>
        <label for="medicine">Medicine:</label>
        <div>
            <input type="text" id="medicine" name="medicine" [(ngModel)]="form.medicine" #medicine="ngModel" required />
        </div>
        <label for="dose">Dose:</label>
        <div>
            <input type="text" id="dose" name="dose" [(ngModel)]="form.dose" #dose="ngModel" required />
        </div>
        <label for="instruction">Instruction:</label>
        <div>
            <input type="text" id="instruction" name="instruction" [(ngModel)]="form.instruction" #instruction="ngModel"
                required />
        </div>
        <button type="submit">ADD PRESCRIPTION</button>
    </form>
</div>