<div class="hero container">
  <div class="banner">
    <h1>{{ title }}</h1>
    <p>
      ALLCare Medical Institute is a state-of-the-art facility dedicated
      to providing comprehensive healthcare services with compassion and
      expertise. Our team of skilled professionals is committed to
      delivering personalized care tailored to each patient's needs. At
      ZeeCare, we prioritize your well-being, ensuring a harmonious
      journey towards optimal health and wellness.
    </p>
  </div>
  <div class="banner">
    <img src="../../../assets/resorces/hero.png" alt="hero" class="animated-image" />
    <span>
      <img src="../../../assets/resorces/Vector.png" alt="vector" />
    </span>
  </div>
</div>