<div class="container form-component appointment-form" style="max-width: 700px;">
    <h2>Appointment</h2>
    <form (ngSubmit)="handleAppointment()">
        <div>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" [(ngModel)]="form.date" #date="ngModel" required />
            <div *ngIf="date.invalid && (date.dirty || date.touched)" class="error">
                <div *ngIf="['date.errors.required']">
                    Date is required.
                </div>
            </div>
        </div>
        <div>
            <label for="time">Time:</label>
            <input type="time" id="time" name="time" [(ngModel)]="form.time" #time="ngModel" required />
            <div *ngIf="time.invalid && (time.dirty || time.touched)" class="error">
                <div *ngIf="['time.errors.required']">
                    Time is required.
                </div>
            </div>
        </div>
        <div>
            <label for="doctor">Doctor:</label>
            <select name="doctor" [(ngModel)]="form.doctor" #doctor="ngModel" required>
                <option value="" disabled>Select Doctor</option>
                <option *ngFor="let doctor of doctorsList" [value]="doctor.username">{{ doctor.username }}</option>
            </select>
            <div *ngIf="doctor.invalid && (doctor.dirty || doctor.touched)" class="error">
                <div *ngIf="['doctor.errors.required']">
                    Doctor is required.
                </div>
            </div>
        </div>
        <button type="submit">GET APPOINTMENT</button>
    </form>
</div>