
<div class="container form-component login-form">
      <div *ngIf="isPatinetRegisterd">
        Your registration is successful. You Can Book Appointments
      </div>
      <h2>Register Patient Data</h2>
      <p>Please Register To Continue</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat culpa
        voluptas expedita itaque ex, totam ad quod error?
      </p>
      <div class=" col-12  form-component login-form" style="max-width:700px;">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="firstname" id="firstname">First Name</label>
            <input type="text" class="form-control" name="firstname" [(ngModel)]="form.firstname" #firstname="ngModel"
              required />
          </div>
          <div *ngIf="f.submitted && firstname.invalid" style="gap: 10px; justify-content :center;flex-direction:row">
            <div *ngIf="['firstname.errors?.required']" class="alert alert-danger">Firsname is required</div>
          </div>
          <div class="form-group">
            <label for="lastname" id="lastname">Last Name</label>
            <input type="text" class="form-control" name="lastname" [(ngModel)]="form.lastname" #lastname="ngModel"
              required />
          </div>
          <div *ngIf="f.submitted && lastname.invalid" style="gap: 10px; justify-content :center;flex-direction:row">
            <div *ngIf="['lastname.errors?.required']" class="alert alert-danger">Lastname is required</div>
          </div>
          <div class="form-group" style="justify-content: center; align-items: center">
            <button class="btn btn-primary">Register Patient Data</button>
            <div *ngIf="f.submitted && isRegisterFailed" class="alert alert-warning">
              Register failed!<br />{{errorMessage}}
            </div>
          </div>
        </form>
      </div>
  </div>